@font-face {
	font-family: "Cooper BT";
	src: url("/fonts/CooperLight.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: "Cooper BT", sans-serif;
	margin: 0;
	padding: 0;
}
